* {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #f5f7fb;
  --primary-text-color: #293264;
}

body {
  background: var(--background-color);
  color: var(--primary-text-color);
}

#root {
  position: relative;
}

.animation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: auto;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fade-out-down {
  -webkit-animation-name: fade-out-down;
  animation-name: fade-out-down;
}

@keyframes fade-out-up {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fade-out-up {
  -webkit-animation-name: fade-out-up;
  animation-name: fade-out-up;
}
